// Colours
$dark-blue: #1471C7;
$light-blue: #9FD1FF;
$grayish-white: #F8F8FA;

$dark-gray: #1E1F20;
$medium-gray: #2A2D30;
$light-gray: #46494C;

// Fonts
$primary-font: 'Red Hat Display';
$backup-font: sans-serif;

// Font sizes
$base-font-size: 16px;
$h1: 4.209rem;
$h2: 3.157rem;
$h3: 1.333rem;
$h4: 1.333rem;
$h5: $base-font-size;
$body: $base-font-size;