.tl-right {
    background-color: #DBEDFF;
    border-radius: 3rem;
    background-image: url("../../assets/icons/timeline-clock.svg");
    background-repeat: no-repeat;
    background-position: 115% -20%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    flex-grow: 1;
  
    &-title {
      margin-top: 0%;
      margin-bottom: 0rem;
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
    &-title > strong {
      color: #005CB2;
    }
  
    &-mainactivity {
      margin: 0rem;
      display: flex;
      gap: 0.8rem;
      flex-direction: column;
    }
  
    &-heading {
      margin-top: 0rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2%;
    }
    &-time {
        border: 2px solid #005CB2;
        border-radius: 0.3rem;
        padding: 0.5%;
        color: #005CB2;
    }
    &-mainactivity-content {
        margin-top: 0px;
        display: flex;
        // border: 1px solid black; // 
        gap: 2%;
    }
    &-mainactivity-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    &-poster {
        width: 50%;
        object-fit: cover;
    }
  }
  