@import "../../assets/fonts/fonts.scss";

.discord {
  background: #1c1d1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  $excited-font-size-large: 21.3px;
  $excited-font-size-small: 16px;
  $join-font-size-large: 37.9px;
  $join-font-size-small: 24px;
  $button-text-font-size-large: 16px;
  $button-text-font-size-small: 12px;

  &-logo {
    padding-top: 50px;
    padding-bottom: 11px;
  }

  &-excited {
    color: #57f287;
    font-family: "Red Hat Display";
    font-weight: bold;
    font-size: $excited-font-size-large;
  }

  &-join {
    color: white;
    font-family: "Red Hat Display";
    font-weight: bold;
    font-size: $join-font-size-large;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  &-button {
    padding-bottom: 50px;
  }

  &-button-text {
    color: white;
    font-family: "Red Hat Display";
    font-weight: bold;
    font-size: $button-text-font-size-large;
  }

  @media (max-width: 800px) {
    &-excited {
      font-size: $excited-font-size-small;
    }
    &-join {
      font-size: $join-font-size-small;
    }
    &-button-text {
      font-size: $button-text-font-size-small;
    }
  }
}
