.event {
  width: 100%;
  height: 100%;
  padding: 0.9rem 0;

  @media (min-width: 640px) {
    padding: 1.2rem;
  }

  @media (min-width: 768px) {
    padding: 1.6rem;
  }

  @media (min-width: 1024px) {
    padding: 2.2rem;
  }

  @media (min-width: 1280px) {
    padding: 2.6rem;
  }

  @media (min-width: 1536px) {
    padding: 3rem 0;
  }

  &-container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    display: grid;

    @media (min-width: 640px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 1024px) {
      max-width: 960px;
    }

    @media (min-width: 1280px) {
      max-width: 1140px;
    }

    @media (min-width: 1536px) {
      max-width: 1320px;
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 0.7rem;

    @media (min-width: 640px) {
      margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
      margin-bottom: 1.3rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 1.8rem;
    }

    @media (min-width: 1280px) {
      margin-bottom: 2rem;
    }

    @media (min-width: 1536px) {
      margin-bottom: 2.4rem;
    }

    &-icon {
      width: 16.5px;

      @media (min-width: 640px) {
        width: 22.5px;
      }

      @media (min-width: 768px) {
        width: 30px;
      }

      @media (min-width: 1024px) {
        width: 40px;
      }

      @media (min-width: 1280px) {
        width: 47.5px;
      }

      @media (min-width: 1536px) {
        width: 55px;
      }
      img {
        max-width: 100%;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      margin-left: 0.3rem;

      @media (min-width: 640px) {
        margin-left: 0.4rem;
      }

      @media (min-width: 768px) {
        margin-left: 0.6rem;
      }

      @media (min-width: 1024px) {
        margin-left: 0.7rem;
      }

      @media (min-width: 1280px) {
        margin-left: 0.9rem;
      }

      @media (min-width: 1536px) {
        margin-left: 1rem;
      }

      &-tagline {
        color: var(--Blue, #1471c7);
        font-family: "Red Hat Display";
        font-size: 5px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (min-width: 640px) {
          font-size: 7px;
        }

        @media (min-width: 768px) {
          font-size: 9px;
        }

        @media (min-width: 1024px) {
          font-size: 12.5px;
        }

        @media (min-width: 1280px) {
          font-size: 15px;
        }

        @media (min-width: 1536px) {
          font-size: 17px;
        }
      }

      &-heading {
        color: var(--Black, #1c1d1e);
        font-family: "Red Hat Display";
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        @media (min-width: 640px) {
          font-size: 16.5px;
        }

        @media (min-width: 768px) {
          font-size: 22px;
        }

        @media (min-width: 1024px) {
          font-size: 29px;
        }

        @media (min-width: 1280px) {
          font-size: 34.5px;
        }

        @media (min-width: 1536px) {
          font-size: 40px;
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: row;

    &-main {
      width: 62.5%;
    }

    &-list {
      margin-left: 0.3rem;
      width: calc(37.5%);
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      justify-content: space-evenly;

      @media (min-width: 640px) {
        margin-left: 0.4rem;
        gap: 0.4rem;
      }

      @media (min-width: 768px) {
        margin-left: 0.6rem;
        gap: 0.6rem;
      }

      @media (min-width: 1024px) {
        margin-left: 0.7rem;
        gap: 0.7rem;
      }

      @media (min-width: 1280px) {
        margin-left: 0.9rem;
        gap: 0.9rem;
      }

      @media (min-width: 1536px) {
        margin-left: 1rem;
        gap: 1rem;
      }
    }
  }
}
