.about {
  padding: 2vw 4.7vw;
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
  background-color: #f8f8fa;

  &-header {
    display: flex;
    flex-direction: row;

    &-img {
      height: 100%;
      img {
        height: 100%;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      height: fit-content;

      &-upper {
        font-size: 18px;
        font-weight: 700;
        font-family: "Red Hat Display";
        color: #1471c7;
      }

      &-lower {
        font-size: 40px;
        font-family: "Red Hat Display";
        font-weight: 900;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;

    &-button {
      display: flex;
      flex-direction: row;
      height: 140px;
      max-width: 30%;
      min-width: 25%;
      cursor: pointer;

      @media (max-width: 1024px) {
        height: 100px;
      }

      &:not(:first-child) {
        margin-left: -40px;

        @media (max-width: 1024px) {
          margin-left: -20px;
        }

        .about-nav-button-main {
          padding: 20px 20px 20px 60px;

          @media (max-width: 1024px) {
            padding: 10px 10px 10px 30px;
          }

          @media (max-width: 768px) {
            padding: 5px 5px 5px 25px;
          }
        }
      }

      &:first-child {
        .about-nav-button-main {
          border-width: 1px 0px 1px 1px;
        }
      }

      &-main {
        padding: 20px;
        border: solid #9fd1ff;
        border-width: 1px 0px 1px 0px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        font-family: "Red Hat Display";
        flex-grow: 1;

        @media (max-width: 1024px) {
          justify-content: center;
        }

        &-focused {
          background-color: #0a2135;
          color: white;
        }
      }

      &-after {
        z-index: 1;

        svg {
          line {
            stroke: #9fd1ff;
            stroke-width: 1.5px;
          }
          polygon {
            fill: #f8f8fa;
          }
        }

        &-focused {
          svg {
            polygon {
              fill: #0a2135;
            }
          }
        }
      }

      &-icon {
        img {
          max-width: 100%;
        }

        @media (max-width: 1024px) {
          width: 40px;
        }

        @media (max-width: 768px) {
          width: 30px;
        }
      }

      &-text {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}
