.home {
  position: relative;

  &-left {
    padding: 5.7vw 8vw;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 1024px) {
      gap: 30px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Red Hat Display";

    &-lg {
      font-size: 50px;
      font-weight: 900;
      line-height: 130%;

      @media (min-width: 1024px) {
        width: 42vw;
        max-width: 580px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }
    }

    &-creative {
      font-family: "Leckerli One", cursive;
      font-weight: 400;
      font-style: italic;
      letter-spacing: -1px;
      color: #1471c7;
    }

    &-sm {
      font-size: 18px;
      line-height: 150%;

      @media (min-width: 1024px) {
        width: 29vw;
        max-width: 410px;
      }
    }
  }

  &-learn-more {
    &-text {
      text-decoration: none;
    }
  }

  &-banner {
    @media (min-width: 1024px) {
      position: absolute;
      top: 100px;
      right: 3.6vw;
    }

    @media (min-width: 1200px) {
      left: 560px;
    }

    img {
      width: 51.4vw;
      max-width: 610px;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}
